{% extends 'base.html' %}

{% block content %}
  <h1>Lista de usuarios</h1>
  <p><a href="{% url 'customuser_create' %}">Agregar usuario</a></p>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Correo electrónico</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for user in object_list %}
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.primerNombre }} {{ user.apellidoPaterno }}</td>
          <td>{{ user.email }}</td>
          
          <td>
            <a href="{% url 'customuser_update' user.id %}">Editar</a> |
            <a href="{% url 'customuser_delete' user.id %}">Eliminar</a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4">No hay usuarios registrados.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
